<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupStaticAttributes="false" bootstrap="tests/bootstrap.php" colors="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" verbose="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </coverage>
  <!--printerClass="PHPUnit_TextUI_ResultPrinter"-->
  <!--testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"-->
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
  <testsuites>
    <testsuite name="Package Test Suit">
      <directory suffix="Test.php">./tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
